before_script:
  # Install dependencies
  - bash ci/docker_install.sh > /dev/null
  - cp config/params.php.dist config/params.php

# We test PHP5.6
test:5.6:
  image: php:5.6
  artifacts:
    paths:
      - coverage/
  script:
  - composer install
  - vendor/bin/phpunit --coverage-html coverage --coverage-text --colors=never

# We test PHP7.0
test:7.0:
  image: php:7.0
  artifacts:
    paths:
      - coverage/
  script:
  - composer install
  - vendor/bin/phpunit --coverage-html coverage --coverage-text --colors=never